@font-face {
    font-family: raleway;
    src: url(../fonts/raleway/raleway-regular.ttf);
}

@font-face {
    font-family: raleway-medium;
    src: url(../fonts/raleway/raleway-medium.ttf);
}

@font-face {
    font-family: raleway-semibold;
    src: url(../fonts/raleway/raleway-semibold.ttf);
}

@font-face {
    font-family: raleway-extrabold;
    src: url(../fonts/raleway/raleway-extrabold.ttf);
}

@font-face {
    font-family: monserrat;
    src: url(../fonts/montserrat/montserrat-regular.ttf);
}

@font-face {
    font-family: monserrat-light;
    src: url(../fonts/montserrat/montserrat-light.ttf);
}

@font-face {
    font-family: montserrat-extralight;
    src: url(../fonts/montserrat/montserrat-extralight.ttf);
}

body {
    margin: 0;
}

.container {
    width: 1920px;
    margin: 0 auto;
}

.header {
    padding: 40px 325px 40px 325px;
    background-color: #555556;
    background-image: url("../img/header-bg.jpg");
}

.nav {
    display: flex;
    flex-wrap: nowrap;
}

.link-logo {
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    text-decoration: none;
}

.link-logo-svg {
    fill: #fff;
}

.link-logo-txt {
    color: #fff;
    font-size: 34px;
    font-family: raleway, sans-serif;
}

.link-logo:hover .link-logo-svg {
    fill: #c7b299;
}

.link-logo:hover .link-logo-txt {
    color: #c7b299;
}

.link-logo:active .link-logo-svg {
    fill: #fff;
}

.link-logo:active .link-logo-txt {
    color: #fff;
}

label,
#menu {
    display: none;
}

.menu {
    margin: 0;
    list-style-type: none;
}

.menu-list {
    display: inline-block;
}

.menu-list-link {
    text-decoration: none;
    display: block;
    padding: 20px 15px;
    color: #ffffff;
    font-family: monserrat-light;
    font-size: 14px;
    font-weight: 300;
}

.menu-list-link:hover {
    color: #c7b299;
}

.menu-list-link:active {
    color: #ffffff;
}

.nav-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 70px;
}

.menu-cart {
    display: block;
    width: 18px;
    height: 24px;
    margin: 15px;
    fill: #fff;
    outline: none;
    border: none;
    background-color: transparent;
}

.menu-cart:hover {
    fill: #c7b299;
}

.menu-cart:active {
    fill: #fff;
}

input[type="search"] {
    width: 24px;
    height: 24px;
    outline: none;
    background-image: url('../img/icon-search.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 1px solid transparent;
    margin: 15px 0 0 15px;
}

input[type="search"]:hover {
    filter: brightness(60%);
}

input[type="search"]:focus {
    width: 150px;
    transition: width 1s ease-out;
    background-position: right;
    background-color: white;
}

.left-arrow {
    display: block;
    width: 40px;
    height: 73px;
    position: absolute;
    left: -212px;
    fill: #a5a4a2;
}

.left-arrow:hover {
    fill: #c7b299;
}

.left-arrow:active {
    fill: #a5a4a2;
}

.header-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 285px 0 320px 0;
    position: relative;
}

.header-slider-wrapper {
    text-align: center;
}

.header-slider-title {
    color: #ffffff;
    font-family: raleway-medium;
    font-size: 36px;
    font-weight: 500;
    line-height: 34px;
    margin: 0 0 15px 0;
}

.header-slider-title-bold {
    color: #ffffff;
    font-family: raleway-extrabold;
    font-size: 52px;
    font-weight: 800;
    line-height: 50px;
    margin: 0 0 15px 0;
}

.header-slider-txt {
    display: block;
    width: 562px;
    color: #ffffff;
    font-family: monserrat-light;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin: 0 0 50px 0;
}

.btn-get-started {
    display: flex;
    margin: 0 auto;
    width: 170px;
    height: 53px;
    border-radius: 3px;
    background-color: #998675;
    text-decoration: none;
    border-bottom: 3px solid #736356;
}

.btn-get-started:hover {
    background-color: #736356;
    border-bottom: 3px solid #998675;
}

.btn-get-started:active {
    background-color: #998675;
}

.btn-get-started:hover .btn-get-started-txt {
    color: #ccc;
}

.btn-get-started:active .btn-get-started-txt {
    color: #fff;
}

.btn-get-started-txt {
    margin: auto;
    color: #ffffff;
    font-family: raleway-extrabold;
    font-size: 14px;
    font-weight: 800;
    line-height: 23px;
    text-transform: uppercase;
}

.right-arrow {
    display: block;
    width: 40px;
    height: 73px;
    position: absolute;
    left: 1346px;
    fill: #a5a4a2;
}

.right-arrow:hover {
    fill: #c7b299;
}

.right-arrow:active {
    fill: #a5a4a2;
}

.pagination {
    position: absolute;
    top: 590px;
    display: flex;
    justify-content: center;
}

.pagination-link {
    display: block;
    width: 10px;
    min-height: 10px;
    margin: 5px;
    background-color: #ccc;
    border-radius: 50%;
    border: 2px solid transparent;
}

.pagination-link:hover {
    border: 2px solid #ccc;
    background-color: transparent;
}

.pagination-link:active {
    border: 2px solid transparent;
    background-color: #ccc;
}

.service {
    padding: 40px 375px 40px 375px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    color: #555555;
    background-color: #fff;
}

.service-web {
    width: 270px;
    justify-content: center;
    text-align: center;
}

.service-web:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: transparent;
    margin: 0 auto;
}

.service-web:hover .service-web-icon {
    fill: #c7b299;
}

.service-web:hover .service-web-title {
    color: #c7b299;
}

.service-web:hover:after {
    background-color: #c7b299;
}

.service-web-icon {
    display: block;
    fill: #555555;
    margin: 30px auto;
}

.service-web-title {
    margin: 30px 0 20px 0;
    width: 100%;
    font-family: raleway-semibold;
    font-size: 22px;
}

.service-web-txt {
    color: #8c8c8c;
    font-family: monserrat-light;
    font-size: 14px;
    line-height: 24px;
    margin: 20px 0 20px 0;
}

.ideas {
    padding: 80px 375px 0 375px;
    text-align: center;
    background-color: #fbfaf8;
}

.ideas-wrp {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    margin-top: 80px;
}

.ideas-img-center {
    position: absolute;
    top: -80px;
}

.ideas-title {
    text-align: center;
    color: #555555;
    font-family: raleway-semibold;
    font-size: 30px;
    margin: 0 0 24px 0;
    width: 100%;
}

.ideas-txt {
    display: block;
    max-width: 760px;
    color: #8c8c8c;
    font-family: monserrat-light;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 40px;
}

.ideas-img-center {
    display: block;
    margin: auto;
    width: 770px;
    height: 482px;
    transition: transform 800ms ease, border-radius 800ms ease;
}

.ideas-img-center:hover {
    border-radius: 25px;
    width: 770px;
    height: 482px;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    transform-origin: 50% 50% 0;
    -ms-transform-origin: 50% 50% 0;
    -webkit-transform-origin: 50% 50% 0;
    -o-transform-origin: 50% 50% 0;
    -moz-transform-origin: 50% 50% 0;
}

.word-press {
    padding: 50px 375px 50px 375px;
    background-color: #241d1a;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.word-press-title {
    color: #ffffff;
    font-family: raleway;
    font-size: 28px;
    font-weight: 400;
    margin: 0;
}

.word-press-title-waxom {
    color: #c7b299;
}

.word-press-txt {
    color: #615855;
    font-family: monserrat-light;
    font-size: 18px;
    margin: 8px 0 0 0;
}

.btn-purchase-now {
    display: flex;
    width: 170px;
    height: 53px;
    border-radius: 3px;
    background-color: #998675;
    text-decoration: none;
    border-bottom: 3px solid #736356;
}

.btn-purchase-now:hover {
    background-color: #736356;
    border-bottom: 3px solid #998675;
}

.btn-purchase-now:active {
    background-color: #998675;
}

.btn-purchase-now:hover .btn-get-started-txt {
    color: #ccc;
}

.btn-purchase-now:active .btn-get-started-txt {
    color: #fff;
}

.latest-projects {
    padding: 80px 375px 40px 375px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.latest-projects-wrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.latest-project-menu {
    margin: 0 auto;
    padding-bottom: 40px;
}

.latest-project-list {
    list-style-type: none;
    display: inline-block;
}

.latest-projects-link {
    text-decoration: none;
    color: #8c8c8c;
    font-family: monserrat-light;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    margin: auto;
    min-width: 70px;
    min-height: 32px;
}

.latest-projects-link:hover {
    border-radius: 3px;
    background-color: #998675;
    color: #fff;
}

.latest-projects-link:active {
    border-radius: 3px;
    background-color: #998675;
    color: #ccc;
}

.crumbs {
    margin: auto;
    padding: 10px 22px;
}

.latest-project-item {
    width: 370px;
    margin-bottom: 30px;
    position: relative;
}

.latest-project-item:hover .latest-project-photo {
    filter: brightness(35%);
}

.latest-project-item:hover .item-wrp {
    background-color: #362f2d;
    fill: #fff;
}

.latest-project-item:hover .item-wrp:before {
    border-bottom: 10px solid #362f2d;
}

.latest-project-item:hover .item-title {
    color: #fff;
}

.latest-project-item:hover .item-txt {
    color: #c7b299;
}

.latest-project-photo {
    display: block;
    width: 100%;
}

.item-wrp {
    width: 100%;
    position: relative;
    background-color: #fbfaf8;
}

.item-wrp:before {
    content: "";
    border: 15px solid transparent;
    border-bottom: 10px solid #fbfaf8;
    position: absolute;
    top: -25px;
    left: 19px;
}

.item-title {
    color: #c7b299;
    font-family: raleway-semibold;
    font-size: 20px;
    display: block;
    padding: 30px 0 0 30px;
}

.item-txt {
    color: #d1d1d1;
    font-family: monserrat-light;
    font-size: 14px;
    line-height: 20px;
    display: block;
    padding: 15px 0 27px 30px;
}

.article-btn-link {
    display: none;
    position: absolute;
    left: 135px;
    top: 100px;
    fill: #fff;
}

.article-btn-search {
    display: none;
    position: absolute;
    left: 201px;
    top: 100px;
    fill: #fff;
}

.article-btn-link:hover {
    fill: #c7b299;
}

.article-btn-search:hover {
    fill: #c7b299;
}

.latest-project-item:hover .article-btn-link,
.latest-project-item:hover .article-btn-search {
    display: block;
}

.video-wrp {
    position: relative;
}

.video:hover {
    filter: brightness(35%);
}

.video-content {
    position: absolute;
    top: 224px;
    left: 701px;
}

.video-content:hover .video {
    filter: brightness(35%);
}

.video-btn {
    margin: auto;
    display: block;
    width: 100px;
    height: 100px;
    background-image: url('../img/circle.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    outline: none;
}

.video-btn:hover {
    filter: brightness(50%);
}

.video-btn:active .video-content {
    display: none;
}

.video-btn-svg {
    fill: #fff;
}

.video-title {
    color: #ffffff;
    font-family: raleway-medium;
    font-size: 30px;
    display: block;
    text-align: center;
}

.video-txt {
    color: #ffffff;
    font-family: monserrat-light;
    font-size: 16px;
    line-height: 28px;
    display: block;
    width: 555px;
    text-align: center;
}

.video-time {
    color: #c7b299;
    font-family: monserrat;
    font-size: 14px;
    line-height: 24px;
    display: block;
    text-align: center;
}

.mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.mobile-content {
    width: 700px;
    margin: 0 0 0 30px;
}

.mobile-content-title {
    color: #555555;
    font-family: raleway-semibold;
    font-size: 30px;
    margin: 110px 0 40px 0;
}

.mobile-content-txt {
    color: #8c8c8c;
    font-family: monserrat;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
}

.mobile-content-list {
    list-style-type: none;
    position: relative;
    color: #8c8c8c;
    font-family: monserrat-light;
    font-size: 16px;
    line-height: 32px;
    margin-left: 100px;
}

.mobile-content-list:before {
    background-image: url(../img/mobile-list.png);
    display: block;
    width: 21px;
    height: 21px;
    content: "";
    position: absolute;
    top: 5px;
    left: -50px;
}

.statistics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #4e3427;
}

.statistics-block {
    margin: 55px;
    width: 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.statistics-block:after {
    border-bottom: 2px solid #fff;
    content: "";
    display: inline-block;
    height: 30px;
    width: 30px;
}

.statistics-icon {
    fill: #c7b299;
}

.statistics-number {
    color: #ffffff;
    font-family: montserrat-extralight;
    font-size: 48px;
    line-height: 36px;
    margin: 25px 0 25px 0;
    width: 100%;
    text-align: center;
}

.statistics-name {
    color: #c7b299;
    font-family: monserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
    display: block;
    width: 100%;
    text-align: center;
}

.recent-posts {
    align-items: center;
    color: #8c8c8c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4.21% 0;
    width: 100%;
}

.recent-posts h2 {
    font-family: raleway-semibold, sans-serif;
    color: #555555;
    font-size: 1.875rem;
    margin: 0;
}

.recent-posts p {
    font-family: monserrat-light;
    color: #8c8c8c;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.75rem;
    margin: 25px 0 20px;
    text-align: center;
    width: 39.42%;
}

.recent-posts__posts-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.recent-posts__post {
    margin: 1.5%;
    position: relative;
    width: 370px;
}

.recent-posts__post:hover:before {
    content: "";
    background-color: rgba(0, 0, 0, .5);
    display: block;
    position: absolute;
    height: 220px;
    width: 100%;
    z-index: 1;
}

.recent-posts__post time {
    border-radius: 3px;
    background-color: #252525;
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    margin: 20px;
    position: absolute;
    text-align: center;
    width: 50px;
    z-index: 2;
}

.recent-posts__post:hover time {
    background-color: #a48d72;
}

.recent-posts__post time span {
    background-color: #363636;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: block;
    font-family: monserrat-light, sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 35px;
}

.recent-posts__post:hover time span {
    background-color: #c7b299;
}

.recent-posts__post:first-of-type {
    background: url(../img/recent.jpg) no-repeat;
}

.recent-posts__post:nth-of-type(2) {
    background: url(../img/recent-2.jpg) no-repeat;
}

.recent-posts__post:last-of-type {
    background: url(../img/recent-3.jpg) no-repeat;
}

.post-preview {
    background-color: #fff;
    margin-top: 220px;
    padding: 30px;
}

.recent-posts__post:hover .post-preview {
    background-color: #362f2d;
}

.post-preview h4 {
    color: #555;
    font-family: raleway-medium;
    font-size: 20px;
    margin: 0;
}

.recent-posts__post:hover h4 {
    color: #c7b299;
}

.post-preview p {
    font-family: monserrat-light;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin: 19px 0 27px;
    text-align: left;
    width: 297px;
}

.recent-posts__post:hover p {
    color: #fff;
}

.post-preview a {
    color: #c7b299;
    display: block;
    font-family: monserrat-light;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    position: relative;
    text-decoration: none;
}

.post-preview a:hover:after {
    border: 5px solid transparent;
    border-left: 8px solid #c7b299;
    content: "";
    top: 6px;
    left: 85px;
    position: absolute;
}

.recent-posts__nav-wrapper {
    margin-top: 1.09%;
}

.recent-posts__nav-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 4px;
    width: 22px;
    height: 22px;
}

.recent-posts__nav {
    fill: #d1d1d1;
}

.recent-posts__nav-wrapper > button:nth-child(1) > svg {
    transform: scaleX(-1);
}

.recent-posts__nav:hover,
.recent-posts__nav:active {
    fill: #c7b299;
}

.partners {
    background: url(../img/partners-bg.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 7.29% 0;
}

.partners a {
    display: block;
    margin: 2.34375%;
}

.partners a img:hover {
    filter: brightness(50%);
}

.footer-content {
    background-color: #191919;
    color: #545454;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4.21% 0;
    width: 100%;
}

.footer-content p {
    font-family: montserrat-light, sans-serif;
    color: #545454;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.footer-content p:hover {
    color: #c7b299;
    cursor: pointer;
}

.footer-content p:hover time {
    color: #fff;
}

.footer-content__about {
    margin-right: 2.1875%;
    min-width: 181px;
    width: 258px;
}

.footer-content__about p {
    line-height: 24px;
}

.footer-content__read-more {
    margin-top: 33px;
    font-family: montserrat, sans-serif;
    font-size: 14px;
    color: #d1d1d1;
    display: block;
    position: relative;
    text-decoration: none;
    font-weight: 400;
    line-height: 20px;
}

.footer-content__read-more:hover:after {
    border: 5px solid transparent;
    border-left: 8px solid #d1d1d1;
    content: "";
    top: 6px;
    left: 90px;
    position: absolute;
}

.footer-content__recent-posts,
.footer-content__twitter-posts {
    margin-top: 1.25%;
    min-width: 130px;
    padding-right: 1.5625%;
    width: 271px;
}

.footer-content h3 {
    font-family: raleway-bold, sans-serif;
    font-size: 24px;
    color: #fff;
    margin-bottom: 30px;
}

.footer-content time {
    color: #363636;
    font-size: 12px;
    display: block;
    line-height: 24px;
}

.footer-content__user {
    color: #00bff3;
    text-decoration: none;
}

.footer-content__link {
    color: #959595;
    text-decoration: none;
}

.footer-content hr {
    border: 1px solid #252525;
    margin: 21px 0 19px;
}

.footer-content__widgets {
    margin-top: 1.25%;
    width: 272px;
}

.widget-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.widget-wrapper a {
    display: block;
}

.widget-wrapper a:first-of-type {
    margin-right: 3.69%;
    margin-bottom: 3.69%;
}

.widget-wrapper a:last-of-type {
    margin-left: 3.69%;
}

.widget-wrapper img {
    height: 98px;
    width: 130px;
}

.widget-wrapper img:hover {
    filter: sepia(90%);
}

.footer-bottom {
    background-color: #111111;
    color: #545454;
    font-family: montserrat-light, sans-serif;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2.5% 0;
    line-height: 20px;
    width: 100%;
}

.footer-bottom p {
    margin-right: 15px;
}

.footer-bottom span,
.footer-bottom__info a {
    color: #959595;
}

.footer-bottom__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-right: 11.3854%;
    margin-left: 1%;
}

.footer-bottom__nav ul {
    display: flex;
}

.footer-bottom__nav li {
    list-style-type: none;
    padding: 0 15px;
    position: relative;
}

.footer-bottom__info p:nth-child(2) {
    margin-right: -15px;
}

.footer-bottom__nav li:after,
.footer-bottom__info p:nth-child(2):after {
    background: #242424;
    content: "";
    width: 1px;
    height: 9px;
    top: 6px;
    left: 0;
    position: absolute;
}

.footer-bottom__nav a {
    display: block;
    color: #545454;
    text-decoration: none;
}

.footer-bottom__nav a:hover {
    color: #c7b299;
}

.footer-bottom__info {
    display: flex;
    flex-wrap: wrap;
    margin-left: 11%;
    margin-right: 1%;
}

.footer-bottom__info p {
    padding-left: 15px;
    position: relative;
}

.footer-bottom__info a {
    text-decoration: none;
}

.footer-bottom__info a:hover {
    color: darkorange;
}

label {
    display: none;
}

@media screen and (max-width: 860px) {
    .container {
        width: 100%;
    }

    .header {
        padding: 5%;
    }

    .nav {
        position: relative;
    }

    .link-logo {
        justify-content: left;
    }

    label {
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 5px;
        right: 15px;
        z-index: 5;
    }

    .menu__closed {
        margin: 10px 0 10px 0;
        display: block;
        width: 100%;
        border-bottom: 6px solid white;
    }

    .nav-wrapper {
        display: none;
    }

    input[type="checkbox"]:checked ~ .nav-wrapper {
        display: block;
        position: absolute;
        margin: 0;
        padding-top: 50px;
        top: -38px;
        left: -41px;
        width: 111%;
        text-align: center;
        background-image: url(../img/header-bg.jpg);
    }

    .menu-list {
        margin: 0 auto;
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .menu-list-link {
        font-size: 25px;
    }

    .menu-cart,
    .menu-search,
    .header-slider,
    .ideas,
    .word-press,
    .latest-project-menu,
    .latest-project-item,
    .btn-get-started,
    .footer-content {
        display: none;
    }

    .service {
        padding: 5%;
    }

    .latest-projects {
        padding: 5%;
    }

    .video-wrp {
        width: 100%;
    }

    .video {
        width: 100%;
        object-fit: cover;
    }

    .video-content {
        top: 223px;
        left: 159px;
    }

    .footer-bottom__wrapper,
    .footer-bottom__info {
        margin: 0 auto;
    }
}

